<div class="card-palestrante">
    <div class="palestrante-imagem">
        <img src="assets/images/palestrantes/{{foto}}" alt="{{nome}}">
    </div>
    <div class="palestrante-info">
        <h3 class="palestrante-nome">{{nome}}</h3>
        <p class="palestrante-cargo">{{cargo}}</p>
        <p class="palestrante-empresa">{{empresa}}</p>
        <p class="palestrante-bio">{{bio}}</p>
        <div class="palestrante-social">
            <a href="{{linkedin}}" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="{{twitter}}" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
