<footer class="footer">
    <div class="social-media">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <p>&copy; 2025 Empoderamento Empreendedor. Todos os direitos reservados.</p>
    <p>Desenvolvido por [Seu Nome ou Empresa].</p>
    <ul class="links">
        <li><a href="pages/sobre.html">Sobre</a></li>
        <li><a href="pages/programacao.html">Programação</a></li>
        <li><a href="pages/contato.html">Contato</a></li>
    </ul>
</footer>
